* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(227, 230, 233);
}

.home-container {
  padding:15px 25px 80px 25px;
  margin: 0;
  text-align: center;
}

.top-img {
  image-rendering: auto;
  background: url("/img/top-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.bottom-img {
  image-rendering: auto;
  background: url("/img/bottom-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.home-name {
  text-decoration: underline;
  padding: 30px;
  font-size: 80px;
}

.home-container button {
  margin-left: 10px;
  border: none;
  background-color: #3c3a51;
  color: #fff;
  border-radius: 5px;
  padding: 0px 10px;
}

.home-container input {
  border-radius: 3px;
  border: none;
}

.mando-sign-up, .mando-sign-in {
  width: 70%;
  margin: 170px auto;
}

.mando-sign-up, .mando-sign-in, h4 {
  text-align: center;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-wrap: normal;
  padding: 20px;
  text-align: center;
}



/*--------- Navigation Bar -------------*/

div.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  word-wrap: normal;
	box-shadow: 0px 2px 10px rgb(0,0,0,0.4);
	transition: top 0.3s;
	position: relative;
	align-items: center;
}

div.navbar a {
	padding: 1.5% 1.5%;
	color: #C36B5B;
  font-family: 'Roboto', sans-serif;
	margin: 2% 2%;
	display: flex-row;
	white-space: nowrap;
	text-decoration: none;
}

div.navbar a:hover {
	box-shadow: 0px 2px 10px rgb(0,0,0,0.4);
	color: #C36B5B;
}

div.navbar a:after {
 text-decoration: none;
} 

div.links {
  width:100%;
  display: flex;
  justify-content: space-around;
}

a {
  color: #C36B5B;
	text-decoration: none;
}

a:link {
  font-size: 20px;
}

span.navbar-text {
  color: #C36B5B;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}



/*-------- Search Page Styles --------*/

.item-categories {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.item-cat {
  margin: 0 15px;
}

.item-search {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

img {
object-fit: scale-down;
}

.viewItemsNav {
  display: flex;
  justify-content: center;
  margin: 20px;
}

nav.viewItemsNav a {
	color: #C36B5B;
  font-family: 'Roboto', sans-serif;
	margin: 2% 2%;
	display: flex-row;
	text-decoration:none;
}

.userItems {
  text-decoration: underline;
  font-size: 40px;
}

.items {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  margin: 40px 50px;
}

div.item-container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.item {
  display: table; 
  text-align: center;
}

div.main-search-item {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  margin: 40px 70px;
  word-wrap: normal;
}

/*------ See More Section -----*/

button.see-more {
  display: table-cell; 
  vertical-align: bottom;
}

div.seeMoreItem {
  width: 60%;
}

.seeMoreItem {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  margin: 40px 50px;
  display: table; 
  text-align: center;
  justify-content: center;
}

div.content {
  align-items: center;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 420px)
  and (-webkit-min-device-pixel-ratio: 2) {
	
	div.navbar {
		width: 100%;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
}
}


