* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.home-container {
  padding:15px 25px 80px 25px;
  margin: 0;
  text-align: center;
}

.top-img {
  image-rendering: auto;
  background: url("/img/top-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.bottom-img {
  image-rendering: auto;
  background: url("/img/bottom-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.home-name {
  text-decoration: underline;
  padding: 30px;
  font-size: 60px;
}

.home-container button {
  margin-left: 10px;
  border: none;
  background-color: #3c3a51;
  color: #fff;
  border-radius: 5px;
  padding: 0px 10px;
}

.home-container input {
  border-radius: 3px;
  border: none;
}

.mando-sign-up, .mando-sign-in {
  width: 70%;
  margin: 170px auto;
}

.mando-sign-up, .mando-sign-in, h4 {
  text-align: center;
}



/*--------- Navigation Bar -------------*/

div.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  word-wrap: normal;
}

div.links {
  width:100%;
  display: flex;
  justify-content: space-around;
}

a {
  color: #C36B5B;
}

a:hover {
  color: grey;
}

a:link {
  font-size: 20px;
}
